*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5D4954;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #ffffeb;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #ffffeb;
  text-decoration: none;
  letter-spacing: 3px;
}
