*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  min-height: 8vh;
  background-color: #523143;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #523143;
  border-top: 1px solid #52314365;
}


.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Poppins';
  color: #ffffeb;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  color: #ffffeb
}

.nav__title {
  color: #ffffeb;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #ffffeb;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #75616c;
  border-radius: 100px;
  color: #ffffeb;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #ffffeb;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

h5 {
  opacity: 0.5;
  font-size: 20;
}


.logo{
  color: #ffffeb;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a{
  text-decoration: none;
  color: #ffffeb;
  letter-spacing: 5px;
  font-size: 20px;
}

.basket {
  height: 25;
  width: auto;
  padding: 0 8vh;
  
}


.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #ffffeb;
  text-decoration: none;
  letter-spacing: 3px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: #ffffeb;
  margin: 5px;
  transition: all 0.25s ease;
}

@media screen and (max-width: 1024px){
  .nav-links{
    width: 70%;
  }
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden;
  }
  .nav-links{
    position: fixed;
    right: 0px;
    height: 93vh;
    top: 7vh;
    background-color: #523143;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.individual-link {
  transition: opacity 0.5s;
}

.individual-link:hover {
  opacity: 0.5;
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

.banner {
  width: 100%;
  height: auto;
  padding: 0 0;
  position: relative;
  text-align: center;
}

.page {
  padding: 8vh 0 4em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products {
  max-width: 100%;
  height: auto;
  transition: opacity 1s;
}

.products:hover {
  opacity: 0.3;
}

.product-box {
  border: 1px solid  #52314346;
  margin: 10px 10px;
  padding: 0 0;
  transition: opacity 1s;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 1026px) {
  .row {
    margin-bottom: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.taster {
  width: 30%;
  height: auto;
  padding: 0 2vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
  display:flex;
  flex-wrap: wrap;

}

th {
  text-align: left;
  padding: 5px;
  color: #ffffeb;
  background: #523143;
  font-family: Poppins;
  font-weight: 100;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td img {
  height: 50px;
  width: auto;
}

#draw-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  border: 0;
  background: none;
  text-transform: uppercase;
  color: #523143;
  font-weight: bold;
  position: relative;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.arrow {
  height: 10px;
  width: auto;
  cursor: pointer;
}

.checkout-row{
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  justify-content: center;
}

.col-50{
  padding: 0 16px;
  flex: 50%;
}

button::before, button::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

button::after {
  bottom: 0;
  right: 0;
}

button::before {
  top: 0;
  left: 0;
}

button:hover::before, button:hover::after {
  width: 100%;
  height: 100%;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

button:hover::before {
  border-top-color:#523143;
  border-right-color: #523143;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

button:hover::after {
  border-bottom-color: #523143;
  border-left-color: #523143;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}
