{% load static %}

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel= "stylesheet" type = "text/css" href="{% static 'main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <title>Bella Brett: Your Basket</title>
    </head>

    {% block content %}

    <body>
        <nav>
            <div class="logo individual-link">
                <a href="/"><h4>Bella Brett</h4></a>
            </div>
            <ul class = "nav-links">
                <li>
                    <a href="/#about" class = "individual-link">About</a>
                </li>
                <li>
                    <a href="/#nav-products" class = "individual-link">Products</a>
                </li>
                <li>
                    <a href="#" class = "individual-link">Editorial</a>
                </li>
                <li>
                    <!-- <img class = "basket" src="{% static '/media/cart.png' %}"> -->
                    <a href="/basket/" class = "individual-link">Basket</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <br>
        <br>
        <br>
        
        <div>
            <section id="about" class = "page">            
                    <h1>Bella Brett</h1>
                    <h2>YOUR BASKET !</h2>
            </section>
        </div>
        <div class="small-container basket">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                {% for item in object_list %}
                <tr>
                    <td><div class="cart-info">
                        <img src="{{item.image.url}}">
                        <div>
                            <p>{{item.name}}</p>
                            <small>{{item.price}}</small>
                            <a href="">Remove</a>
                        </div>
                    
                    </div></td>
                    <td><input type="number" value "1"></td>
                    <td>£14</td>
                </tr>
                {% endfor %}
                <tr>
                    <a class="button" href="/#nav-products">&#x2190; Keep shopping</a>
                </tr>
            </table>

        </div>


        {% endblock content %}

        <footer class = "footer" >
            Thanks for visiting
        </footer>
    </body>

    
    <script type = "text/javascript" src = "{% static '/app.js' %}"></script>

</html>
