{% load static %}
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel= "stylesheet" type = "text/css" href="{% static 'main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <title>Bella Brett: Your Basket</title>
    </head>

    <body>
        <nav>
            <div class="logo">
                <h4 href = "{% static index.html %}">Bella Brett</h4>
            </div>
            <ul class = "nav-links">
                <li>
                    <a href="#about" class = "individual-link">About</a>
                </li>
                <li>
                    <a href="#nav-products" class = "individual-link">Products</a>
                </li>
                <li>
                    <a href="#" class = "individual-link">Editorial</a>
                </li>
                <li>
                    <!-- <img class = "basket" src="{% static '/media/cart.png' %}"> -->
                    <a href="/basket/" class = "individual-link">Basket</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div>
            <section id="about" class = "page">            
                    <h1>Bella Brett</h1>
                    <h2>YOUR BASKET !</h2>
            </section>
        </div>

        <footer class = >
            Thanks for visiting
        </footer>
    </body>

    
    <script type = "text/javascript" src = "{% static '/app.js' %}"></script>

</html>
