{% load static %}

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type = "text/css" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <title>Bella Brett</title>
        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name){
            var cookieValue= null;
            if(document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (
                    name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
            }
            var csrftoken = getToken('csrftoken');
        </script>
    </head>

    <body>

        {% block content %}
        
        <nav>
            <div class="logo individual-link">
                <a href="#banner"><h4>Bella Brett</h4></a>
            </div>
            <ul class = "nav-links">
                <li>
                    <a href="#about" class = "individual-link">About</a>
                </li>
                <li>
                    <a href="#nav-products" class = "individual-link">Products</a>
                </li>
                <li>
                    <a href="#" class = "individual-link">Editorial</a>
                </li>
                <li>
                    <!-- <img class = "basket" src="{% static '/media/cart.png' %}"> -->
                    <a href="/basket/" class = "individual-link">Basket</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>


        <div>
            <section id="banner" class = "page">            
                <img src="{% static '/media/gfwfreya.jpg' %}" alt="Two women in a palace" class = "banner"/>
            </section>
        </div>
        <div>
            <section id="about" class = "page">            
                    <h1>Bella Brett:</h1>
                    <h2>A sustainable trouser brand</h2>
                    <h5>We only ever use recycled materials,</h5>
                    <h5>and are net carbon negative.</h5>
            </section>
        </div>

        <div>
            <section id = "nav-products" class = "products-section">

                    <!-- container always fills up whole width of the screen -->
                   
                    <div class = "row page">
                        {% for item in object_list %}
                        <div class="product-box draw-border">
                        
                            <p class = "product-desc centerize">{{ item.description }}</p>
                            <img src="{{item.image.url}}" class = "products">
                                <a class="centerize">
                                    <button data-product={{item.id}} data-action="add" 
                                    class="update-cart">Add to basket
                                    </button>
                                </a>
                
                            <p class = "centerize">{{item.name}}</p>
                            <p class ="centerize">£{{item.price}}</p>
                            
                        </div>
                        {% endfor %}
                    </div>
           
             </section>
        </div>

        {% endblock content %}

        <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">Bella Brett</h1>
                  
              <h2>Contact</h2>
              
              <address>
                Leeds<br>
                    
                <a class="footer__btn" href="mailto:luka.abeywickrama@hotmail.co.uk">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Connect</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
          
                  <li>
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  </li>
                      
                  <li>
                    <a href="#">Alternative Ads</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>
                
                <ul class="nav__ul nav__ul--extra">
                  <li>
                    <a href="#">Hardware Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Software Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Digital Signage</a>
                  </li>
                  
                  <li>
                    <a href="#">Automation</a>
                  </li>
                  
                  <li>
                    <a href="#">Artificial Intelligence</a>
                  </li>
                  
                  <li>
                    <a href="#">IoT</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                
                <ul class="nav__ul">
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                  
                  <li>
                    <a href="#">Sitemap</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <div class="legal">
              <p>&copy; 2019 Something. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
              </div>
            </div>
          </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type = "text/javascript" src = "{% static 'js/app.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/basket.js' %}"></script>
</html>
