{% load static %}

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type = "text/css" href="{% static 'main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <title>Bella Brett</title>
    </head>

    <body>

        {% block content %}
        
        <nav>
            <div class="logo individual-link">
                <a href="#banner"><h4>Bella Brett</h4></a>
            </div>
            <ul class = "nav-links">
                <li>
                    <a href="#about" class = "individual-link">About</a>
                </li>
                <li>
                    <a href="#nav-products" class = "individual-link">Products</a>
                </li>
                <li>
                    <a href="#" class = "individual-link">Editorial</a>
                </li>
                <li>
                    <!-- <img class = "basket" src="{% static '/media/cart.png' %}"> -->
                    <a href="/basket/" class = "individual-link">Basket</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>


        <div>
            <section id="banner" class = "page">            
                <img src="{% static '/media/gfwfreya.jpg' %}" alt="Two women in a palace" class = "banner"/>
            </section>
        </div>
        <div>
            <section id="about" class = "page">            
                    <h1>Bella Brett:</h1>
                    <h2>A sustainable trouser brand</h2>
                    <h5>We only ever use recycled materials,</h5>
                    <h5>and are net carbon negative.</h5>
            </section>
        </div>

        <div>
            <section id = "nav-products" class = "products-section">

                    <!-- container always fills up whole width of the screen -->
                   
                    <div class = "row page">
                        {% for item in items %}
                        <div class="product-box draw-border">
                        
                            <img src="{{item.image.url}}" class = "products">
                                <button class="centerize">Add to basket</button>
                            <p class = "product-desc">{{ item.description }}</p>
                            <p class = "centerize">{{item.name}}</p>
                            <p class ="centerize">£{{item.price}}</p>
                            
                        </div>
                        {% endfor %}
                    </div>
           
             </section>
        </div>

        {% endblock content %}

        <footer class = >
            Thanks for visiting
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type = "text/javascript" src = "{% static '/app.js' %}"></script>

</html>
