{% load static %}
<html lang = "en">
    <head>
        <h1> Freya and Rebs </h1>
        <link rel = "stylesheet" type = "text/css" href="{% static 'main.css' %}">

    </head>

    <body>

        <p>This is a paragraph. with some <strong>bold text</strong> and some <em>italics text</em>.</p>
        <a href="#">This is a link.</a>
        <small>This is some small text.</small>
        <sub>Subscript</sub>
        <sup>Superscript</sup>
        <hr/>

        <figure>
          <img src="{% static '/media/pattern1.png' %}" alt="Image description"/>
          <figcaption>Image caption</figcaption>
        </figure>

    </body>

</html>
<link rel=stylesheet" type = "text/css" href="{% static 'main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">